.scroll-menu-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px;
    scrollbar-width: none; /* For Firefox */
  }
  
  .scroll-menu-wrapper::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .right-arrow, .left-arrow {
    cursor: pointer;
    user-select: none;
  }
  
  .category-card {
    display: inline-block;
    transition: transform 0.2s ease;
    text-align: center;
  }
  
  .category-card:hover {
    transform: scale(1.05);
  }
  
  .horizontal-scrollbar {
    display: flex;
    overflow-x: auto;
    padding: 10px;
  }
  
  .category-card {
    position: relative;
    text-align: center;
  }
  
  .category-card img {
    display: block;
    margin: 0 auto;
  }
  
  .category-card .delete-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  